html, body {
    height: 100%;
    max-height: 100%;
}

header {
    background-color: #636;
    border-bottom: 2px solid #a5a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    height: 10%;
}

main {
    height: 90%;
    max-height: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#cards {
    overflow-y: auto;
    overflow-x: hidden;
    width: 70%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-image: url('https://cdn.glitch.global/c3047929-ef70-4941-99a6-ce2fdf88aac9/purpleSpace.jpg?v=1745445395999');
    background-size: cover;
    color: white;
}

.monster-card {
    position: relative; 
    width: 20vw;
    color: #ccc;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 7px;
}

.monster-card img {
    width: 100%;
    display: block;
}

.monster-info {
    width: 100%;
    font-size: 0.9rem;
    overflow: wrap;
    position: absolute; 
    left: 50%; 
    bottom: 0;
    transform: translate(-50%, 0); 
    background-color: whitesmoke; 
    color: black; 
    padding: 10px;
    border-radius: 5px;
    display: none; 
    text-align: center;
    z-index: 10;
}

.monster-card img:hover + .monster-info {
    display: block;
}

.monster-info:hover {
    display: block;
}

.monster-info p {
    border: 1px solid grey;
}

#controls {
    width: 30%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #cc5588, #964163, #622e41, #331b23, #000000);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#draw {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    position: relative;
    transition: 0.8s ease-in-out;
}

#draw img, #draw-highlight {
    width: 60%;
    height: 50vh;
    position: relative;
    z-index: 5;
}

#draw-highlight {
    width: 60%;
    height: 50vh;
    background-color: blue;
    opacity: 0.3;
    position: absolute; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 10;
    animation: flash 1.5s infinite;
}

#draw-highlight:hover {
    cursor: pointer;
}

.selected {
    border: 3px solid rgb(53, 255, 198);
}

.flip {
    transform: rotateY(180deg);
}

a {
    margin-top: 20px;
    font-size: 3rem;
    border-radius: 30px;
    background-color: hotpink;
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    margin: auto;
    border: 5px solid transparent;
    display: none;
}

a:hover {
    cursor: pointer;
    animation: border-flash 2s infinite;

}

@keyframes border-flash {
    0% {
        border: 5px solid black;
    }
    50% {
        border: 5px solid pink;
    }
    100% {
        border: 5px solid black;
    }
}

@keyframes flash {
    0% {
        opacity: 0.3; 
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.3;
    }
}