/* Chosen Monster Card Styles */
.chosen-monster-card:hover {
  cursor: pointer;
  border: 5px solid white;
  border-radius: 10px;
}

.chosen-monster-card img {
  width: 100%;
  height: 100%;
  display: block;
}

.chosen-monster-card img:hover + .chosen-monster-info {
  display: block;
}

.selected-monster {
  border: 4px solid purple;
  border-radius: 10px;
}
